:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #333333;
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f3f3;
  color: #333333;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: #333333;
}

a {
  font-weight: 500;
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: #333333;
}

button {
  border-radius: 4px;
  border: 1px solid #555555;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: #333333;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
}

button:hover {
  border-color: #333333;
  background-color: #e4e4e4;
}

button:focus,
button:focus-visible {
  outline: 3px solid #777777;
  outline-offset: 2px;
}
